$smooth-gray: #E9E9E9;
$teal: #00A392; /* mapdwell teal */
$dark-orange: #E57C0A;
$intense-orange: #FF5722;
$disabled-green: #D4DEBC;
$lightest-green: #F0F3E8;
$lightest-yellow: #FFF6E7;
$lightest-orange: #F9F3E7;
$lightest-red: #FAE9E7;
$lightest-purple: #F9F0F6;
$lightest-gray: #F2F2F2;
$transparent-gray: hsla(0, 0%, 10%, 0.75);
$transparent-black: rgba(0, 0, 0, 0.85);
$transparent-white: rgba(255, 255, 255, 0.85);
$linkedin-color: #0E65C2;
$facebook-color: #1977F2;
$apple-color: #000000;
$body-color: $dark-gray;

%bg-transparent-black {
  background-color: $transparent-black;
}
%bg-transparent-white {
  background-color: $transparent-white;
}
%bg-disabled-green {
  background-color: $disabled-green;
}

%default-icon {
  svg {
    @extend %transition-color ;
    color: #{$moon-gray};
  }
}

%white-icon {
  svg {
    @extend %transition-color ;
    color: #{$white};
  }
}


%light-icon {
  svg {
    @extend %transition-color ;
    color: #{$mid-gray};
  }
}

$navbar-height: 5.3rem;
$mobile-navbar-height: 4rem;
