@import '../_variables';

/* Custom Tachyons-style composable classes */

/* Spacing */
.pb05,
%pb05 {
  padding-bottom: 0.1rem;
}

.pt05,
%pt05 {
  padding-top: 0.1rem;
}

.pl05,
%pl05 {
  padding-left: 0.1rem;
}

.pr05,
%pr05 {
  padding-right: 0.1rem;
}

.pv05 {
  @extend %pt05;
  @extend %pb05;
}

.ph05 {
  @extend %pr05;
  @extend %pl05;
}

.pb15,
%pb15 {
  padding-bottom: 0.325rem;
}

.pt15,
%pt15 {
  padding-top: 0.325rem;
}

.pl15,
%pl15 {
  padding-left: 0.325rem;
}

.pr15,
%pr15 {
  padding-right: 0.325rem;
}

.pv15 {
  @extend %pt15;
  @extend %pb15;
}

.ph15 {
  @extend %pr15;
  @extend %pl15;
}

.pb25,
%pb25 {
  padding-bottom: 0.7rem;
}

.pt25,
%pt25 {
  padding-top: 0.7rem;
}

.pl25,
%pl25 {
  padding-left: 0.7rem;
}

.pr25,
%pr25 {
  padding-right: 0.7rem;
}

.pv25 {
  @extend %pt25;
  @extend %pb25;
}

.ph25 {
  @extend %pr25;
  @extend %pl25;
}

.pl35,
%pl35 {
  padding-left: 1.5rem;
}

.pr35,
%pr35 {
  padding-right: 1.5rem;
}

.pb35,
%pb35 {
  padding-bottom: 1.5rem;
}

.pt35,
%pt35 {
  padding-top: 1.5rem;
}

.pv35 {
  @extend %pt35;
  @extend %pb35;
}

.ph35 {
  @extend %pl35;
  @extend %pr35;
}

.mb25,
%mb25 {
  margin-bottom: 0.75rem;
}

.mt25,
%mt25 {
  margin-top: 0.75rem;
}

.ml25,
%ml25 {
  margin-left: 0.75rem;
}

.mr25,
%mr25 {
  margin-right: 0.75rem;
}

.mh25 {
  @extend %mr25;
  @extend %ml25;
}

.mb35,
%mb35 {
  margin-bottom: 1.5rem;
}

.mt35,
%mt35 {
  margin-top: 1.5rem;
}

.ml35,
%ml35 {
  margin-left: 1.5rem;
}

.mr35,
%mr35 {
  margin-right: 1.5rem;
}

.mh35 {
  @extend %mr35;
  @extend %ml35;
}

.pr45,
%pr45 {
  padding-right: 3.25rem;
}

.pl45,
%pl45 {
  padding-left: 3.25rem;
}

.ph45 {
  @extend %pr45;
  @extend %pl45;
}

.pr55,
%pr55 {
  padding-right: 6rem;
}

.pl55,
%pl55 {
  padding-left: 6rem;
}

.ph55 {
  @extend %pr55;
  @extend %pl55;
}

/* SIZE */
.w25 {
  /* between w2 and w3 */
  width: 3rem;
}

.w6 {
  width: 40rem;
}

.w-95 {
  width: 95%;
}


.mw600 {
  max-width: 600px
}

.mw800 {
  max-width: 800px
}

.mw1000 {
  max-width: 1000px
}

.mw1200 {
  max-width: 1200px
}

.min-w3 {
  min-width: 4rem;
}

.h025 {
  height: 0.25rem;
}

.h05 {
  height: 0.5rem;
}

.h25 {
  /* between h2 and h3 */
  height: 3rem;
}

.h35 {
  /* between h3 and h4 */
  height: 5rem;
}

.min-h3 {
  min-height: 6rem;
}

.min-h4 {
  min-height: 8rem;
}

.min-h5 {
  min-height: 16rem;
}


/* POSITIONING */
.h-0 {
  height: 0;
}

.h-100-vh {
  height: 100vh;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.z-51 {
  z-index: 51;
}

.center-absolute {
  top: 50%;
  margin: auto 50%;
  transform: translate(-50%, -50%);
}

.center-h-absolute {
  margin: auto 50%;
  transform: translateX(-50%);
}

.center-v-absolute {
  top: 50%;
  transform: translateY(-50%);
}


.top-3 {
  top: 3rem;
}

.right-3 {
  right: 3rem;
}

.bottom-3 {
  bottom: 3rem;
}

.left-3 {
  left: 3rem;
}

.top-4 {
  top: 4rem;
}

.right-4 {
  right: 4rem;
}

.bottom-4 {
  bottom: 4rem;
}

.left-4 {
  left: 4rem;
}

.top-5 {
  top: 5rem;
}

.right-5 {
  right: 5rem;
}

.bottom-5 {
  bottom: 5rem;
}

.left-5 {
  left: 5rem;
}

.top-6 {
  top: 6rem;
}

.right-6 {
  right: 6rem;
}

.bottom-6 {
  bottom: 6rem;
}

.left-6 {
  left: 6rem;
}


/* FLEX */
.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.shrink-1 {
  flex-shrink: 1;
}

.shrink-0 {
  flex-shrink: 0;
}

.basis-auto {
  flex-basis: auto;
}

.basis-100 {
  flex-basis: 100%;
}

.basis-66 {
  flex-basis: 66%;
}

.basis-50 {
  flex-basis: 50%;
}

.basis-33 {
  flex-basis: 33%;
}

.basis-25 {
  flex-basis: 25%;
}

@media #{$breakpoint-not-small} {
  .grow-1-ns {
    flex-grow: 1;
  }

  .grow-0-ns {
    flex-grow: 0;
  }

  .shrink-1-ns {
    flex-shrink: 1;
  }

  .shrink-0-ns {
    flex-shrink: 0;
  }

  .basis-auto-ns {
    flex-basis: auto;
  }

  .basis-100-ns {
    flex-basis: 100%;
  }

  .basis-66-ns {
    flex-basis: 66%;
  }

  .basis-50-ns {
    flex-basis: 50%;
  }

  .basis-33-ns {
    flex-basis: 33%;
  }

  .basis-25-ns {
    flex-basis: 25%;
  }

  .ph45-ns {
    padding-right: 3.25rem;
    padding-left: 3.25rem;
  }

  .ph55-ns {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .ml35-ns {
    margin-left: 1.5rem;
  }

  .mr35-ns {
    margin-right: 1.5rem;
  }

  .min-h3-ns {
    min-height: 6rem;
  }

  .min-h4-ns {
    min-height: 8rem;
  }

  .min-h5-ns {
    min-height: 16rem;
  }

}

@media #{$breakpoint-large} {
  .basis-100-l {
    flex-basis: 100%;
  }

  .basis-66-l {
    flex-basis: 66%;
  }

  .basis-50-l {
    flex-basis: 50%;
  }

  .basis-33-l {
    flex-basis: 33%;
  }

  .basis-25-l {
    flex-basis: 25%;
  }
}

@media #{$breakpoint-medium} {
  .basis-100-m {
    flex-basis: 100%;
  }

  .basis-66-m {
    flex-basis: 66%;
  }

  .basis-50-m {
    flex-basis: 50%;
  }

  .basis-33-m {
    flex-basis: 33%;
  }
}


/* SVG */
.default-icon {
  @extend %default-icon;
}

.white-icon {
  @extend %white-icon;
}

.light-icon {
  svg {
    @extend %transition-color;
    color: #{$moon-gray};
  }
}

.gray-icon {
  svg {
    @extend %transition-color;
    color: #CACACA;
  }
}

.green-icon {
  svg {
    @extend %transition-color;
    color: #{$green};
  }
}

.lightest-green-icon {
  svg {
    @extend %transition-color;
    color: #{$lightest-green};
  }
}

.dark-icon {
  svg {
    @extend %transition-color;
    color: #{$dark-gray};
  }
}

.black-icon {
  svg {
    @extend %transition-color;
    color: #{$black};
  }
}


.rot-45 {
  transform: rotate(45deg);
}

/* BACKGROUND */
.bg-transparent-gray {
  background-color: #{$transparent-gray};
}

.bg-disabled-green {
  @extend %bg-disabled-green;
}

.bg-blue-gradient-light {
  background: transparent linear-gradient(109deg, lighten($light-blue, 20%) 0%, $light-blue 100%);
}

.bg-blue-gradient {
  background: transparent linear-gradient(109deg, lighten($blue, 10%) 0%, darken($blue, 10%) 100%);
}

.bg-blue-gradient-dark {
  background: transparent linear-gradient(109deg, lighten($dark-blue, 20%) 0%, $dark-blue 100%);
}

.bg-green-gradient-light {
  background: transparent linear-gradient(109deg, lighten($light-green, 20%) 0%, $light-green 100%);
}

.bg-green-gradient {
  background: transparent linear-gradient(109deg, lighten($green, 20%) 0%, $green 100%);
}

.bg-green-gradient-dark {
  background: transparent linear-gradient(109deg, lighten($dark-green, 20%) 0%, $dark-green 100%);
}

.bg-purple-gradient {
  background: transparent linear-gradient(109deg, lighten($purple, 10%) 0%, darken($purple, 10%) 100%);
}

.bg-red-gradient {
  background: linear-gradient(109deg, lighten($red, 10%), darken($red, 10%));
}

.hover-bg-dark-orange {

  &:hover,
  &:focus {
    background-color: $dark-orange;
  }
}

@media #{$breakpoint-not-small} {
  .bg-near-white-ns {
    background-color: $near-white;
  }
}

/** BORDER **/
.bt--white {
  border-top-color: #{$white};
}

.bt--t-gray {
  border-top-color: #{$light-gray};
}

/* MISC */

.all-pointer-event {
  pointer-events: all;
}

.no-pointer-event {
  pointer-events: none;
}

.not-allowed {
  cursor: not-allowed;
}

.bg-none {
  background: none;
}

button {
  &.no-default {
    border: none;
    cursor: pointer;
    outline: inherit;

    &:disabled {
      cursor: default;
    }

  }
}

.teal {
  color: $teal;
}

.light-green {
  color: $light-green;
}

.dark-green {
  color: $dark-green;
}

.lightest-green {
  color: $lightest-green;
}

.lightest-yellow {
  color: $lightest-yellow;
}

.lightest-orange {
  color: $lightest-orange;
}

.lightest-red {
  color: $lightest-red;
}

.lightest-purple {
  color: $lightest-purple;
}

.lightest-gray {
  color: $lightest-gray;
}

.intense-orange {
  color: $intense-orange;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-dark-green {
  background-color: $dark-green;
}

.bg-lightest-green {
  background-color: $lightest-green;
}

.bg-lightest-yellow {
  background-color: $lightest-yellow;
}

.bg-lightest-orange {
  background-color: $lightest-orange;
}

.bg-lightest-red {
  background-color: $lightest-red;
}

.bg-lightest-purple {
  background-color: $lightest-purple;
}

.bg-lightest-gray {
  background-color: $lightest-gray;
}

.bg-orange-80 {
  background-color: rgba($orange, 0.8);
}

.bg-green-80 {
  background-color: rgba($green, 0.8);
}

.bg-intense-orange {
  background-color: $intense-orange;
}

.hover-bg-black-05 {

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, .05);
  }
}

.outline-2 {
  outline: 2px solid;
}

.outline--light-blue {
  outline-color: $light-blue;
}

.outline--blue {
  outline-color: $blue;
}

.outline--dark-blue {
  outline-color: $dark-blue;
}

.outline--light-green {
  outline-color: $light-green;
}

.outline--green {
  outline-color: $green;
}

.outline--dark-green {
  outline-color: $dark-green;
}

/* pulsing effect */
.shadow-pulse {
  animation: shadow-pulsing 2s infinite;
}

@keyframes shadow-pulsing {
  0% {
    box-shadow: 0 0 0 0 rgba(black, 0.3);
  }

  100% {
    box-shadow: 0 0 30px 0px rgba(black, 0);
  }
}

.glow-pulse-orange {
  animation: glow-pulsing-orange 2s infinite alternate;
}

@keyframes glow-pulsing-orange {
  0% {
    box-shadow: 0 0 0 0 rgba($orange, 1);
  }

  100% {
    box-shadow: 0 0 30px 0px rgba($orange, 0.6);
  }
}

/* no pulse version of orange glow */
.glow-orange {
  box-shadow: 0 0 30px 0px rgba($orange, 0.6);
}

/* additional shadows */
.shadow-6 {
  box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.3);
}

.shadow-7 {
  box-shadow: 0px 0px 50px 0px hsla(0, 0%, 0%, 0.3);
}

/* inset shadows */
.shadow-top-2 {
  box-shadow: inset 0px 3px 4px -1px rgba(0, 0, 0, 0.2);
}

.shadow-top-7 {
  box-shadow: inset 0px 55px 50px -50px rgba(0, 0, 0, 0.3);
}

.shadow-hover-shallow {
  @extend .shadow-hover;
  &:after {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  }
}

.overflow-auto {
  /* fixes inner-element scrolling on iOS devices */
  -webkit-overflow-scrolling: touch;
}
