/*not actually a material variable*/
$mdc-border-radius: 0;


/* textfields */
.mdc-text-field__input {
  font-family: "Source Sans Pro", sans-serif;
}

.mdc-text-field--outlined .mdc-text-field__input{
  padding: 12px 16px 12px;
}

.mdc-text-field:not(.mdc-text-field--textarea){
  height: 3.5rem;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #{$dark-gray};
}

.mdc-text-field--outlined, .mdc-text-field--textarea {
  .mdc-notched-outline {
    .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
      border-radius: $mdc-border-radius;
    }
  }
}

/* buttons */
.mdc-button {
  border-radius: $mdc-border-radius;

  &.teal { color: $teal; }
  &.white { color: white; }
  &.blue { color: $blue; }
  &.dark-green { color: $dark-green; }
  &.green { color: $green; }
  &.washed-blue { color: $washed-blue; }
  &.light-blue { color: $light-blue; }
  &.mid-gray { color: $mid-gray; }
  &.orange { color: $orange; }
  &.red { color: $red; }
  &.pink { color: $pink; }
  &.light-pink { color: $light-pink; }
  &.yellow { color: $yellow; }
  &.linkedin { color: $linkedin-color; }
  &.facebook { color: $facebook-color; }
  &.apple { color: $apple-color; }
  &.bg-linkedin { background-color: $linkedin-color; }
  &.bg-facebook { background-color: $facebook-color; }
  &.bg-apple { background-color: $apple-color; }

  &.f1 { font-size: $font-size-1; }  
  &.f2 { font-size: $font-size-2; }
  &.f3 { font-size: $font-size-3; }
  &.f4 { font-size: $font-size-4; }
  &.f5 { font-size: $font-size-5; }
  &.f6 { font-size: $font-size-6; }
  &.f7 { font-size: $font-size-7; }


  &.mdc-button--raised {
    &:hover {
      &::before {
        opacity: 0.06
      }
    }
    &:disabled {
      color: lighten($mid-gray, 15%);
      background-color: lighten($mid-gray, 35%);
    }
    &.secondary-button, &.bg-white {
      background-color: white;
      color: #{$dark-gray};
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.16), 0px 2px 2px 0px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.08);
      &:disabled {
        cursor: not-allowed !important;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.37);
      }
      &:hover {
        background-color: $near-white;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
      }
      &:active {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
    }
    /* mdc button color helpers */
    &.bg-blue {
      background-color: #{$blue};
      &:disabled {
        color: lighten($blue, 15%);
        background-color: lighten($blue, 50%);
      }
    }
    &.bg-light-blue {
      background-color: #{$light-blue};
      &:disabled {
        color: lighten($light-blue, 15%);
        background-color: lighten($light-blue, 25%);
      }
    }
    &.bg-dark-blue {
      background-color: #{$dark-blue};
      &:disabled {
        color: lighten($dark-blue, 15%);
        background-color: lighten($dark-blue, 35%);
      }
    }
    &.bg-green {
      background-color: #{$green};
      &:disabled {
        color: lighten($green, 20%);
        background-color: lighten($green, 45%);
      }
    }
    &.bg-light-green {
      background-color: #{$light-green};
      &:disabled {
        color: $light-green;
        background-color: lighten($light-green, 50%);
      }
    }
    &.bg-dark-green {
      background-color: #{$dark-green};
      &:disabled {
        color: $dark-green;
        background-color: lighten($dark-green, 50%);
      }
    }
    &.bg-washed-blue {
      background-color: #{$washed-blue};
      &:disabled {
        color: lighten($washed-blue, 20%);
        background-color: lighten($washed-blue, 45%);
      }
    }
    &.bg-red {
      background-color: #{$red};
      &:disabled {
        color: $red;
        background-color: lighten($red, 50%);
      }
    }
    &.bg-dark-pink {
      background-color: #{$dark-pink};
      &:disabled {
        color: $dark-pink;
        background-color: lighten($dark-pink, 50%);
      }
    }
    &.bg-orange {
      background-color: #{$orange};
      &:disabled {
        color: $orange;
        background-color: lighten($orange, 50%);
      }
    }
    &.bg-purple {
      background-color: #{$purple};
      &:disabled {
        color: $purple;
        background-color: lighten($purple, 50%);
      }
    }
  }

  &.mdc-button--unelevated {
    &:active, &:hover {
      background-color: black;
      color: white;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.37);
    }
    &.secondary-button {
      background-color: $light-gray;
      color: $dark-gray;
      &:disabled {
        cursor: not-allowed;
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.37);
      }
      &:hover {
        background-color: $lightest-green;
        color: $green;
      }
      &:active {
        background-color: $green;
        color: white;
      }
    }
    &.ternary-button {
      background-color: $moon-gray;
      color: $white;
      &:disabled {
        cursor: default;
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.37);
      }
      &:hover, &:active {
        background-color: $gray;
        color: $white;
      }
    }
  }
}

.mdc-fab {
  &.flat { box-shadow: none; }
}

/* slider */
.mdc-slider__thumb-container {
  height: auto;
}
.mdc-slider:not(.mdc-slider--disabled) {
  .mdc-slider__pin {
    background-color: transparent;
    pointer-events: none;
  }
}

/* lists */
.mdc-list-item__secondary-text {
  margin-bottom: 0;
}

.mdc-list-item__graphic {
  margin-right: 1rem;
  svg {
    display: block;
  }
}

.mdc-list {
  .mdc-list-item {
    .mdc-list-item__primary-text, .mdc-list-item__secondary-text  {
      &:before {
        display: none;
      }
    }
    &:focus, &:focus-within, &:active {
      &::before, &::after {
        opacity: 0 !important;
      }
    }
    &:focus, &:focus-within {
      background-color: $light-gray;
    }
    &:active {
      background-color: $smooth-gray;
    }
  }
}

.mdc-list-item--activated {
  &:hover, &:focus, &:focus-within, &:active {
    &::before, &::after{
      opacity: 0 !important;
    }
  }
}

.mdc-list-item--disabled {
  pointer-events: none;
}

.mdc-switch__native-control {
  top: 9px;
  height: 30px;
}

.mdc-linear-progress {
  &.thin {
    height: 2px;
  }
}

/* dialogs */

.mdc-dialog {
  .mdc-dialog__surface {
    border-radius: $mdc-border-radius;
  }
}


/* mdc-select */

.mdc-select {
  border-radius: 0;
  &:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: $dark-gray;
  }

}
.mdc-select--outlined {
  .mdc-notched-outline {
    .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
      border-radius: 0;
    }
  }
}
.mdc-select--focused {
  .mdc-select__dropdown-icon {
    filter: brightness(0);
  }
}