/* Root size 2rem = 15px inherited from _base.scss */

$headline-font: 'Source Sans Pro', sans-serif;
/* remember to update app-theme.scss too */
$subtitle-font: 'Source Sans Pro', sans-serif; 
$body-font: 'Merriweather', serif;

body, a {
  color: $dark-gray;
}

a {
  text-decoration: underline;
}

.type-h1,
%type-h1 {
  font-family: $headline-font;
  font-size: 4rem;
  letter-spacing: -0.1rem;
  font-weight: 300;

  @media #{$breakpoint-not-small} {
    font-size: 6.4rem;
  }
}

.type-h2,
%type-h2 {
  font-family: $headline-font;
  font-size: 3.5rem;
  letter-spacing: -0.033333rem;
  font-weight: 400;

  @media #{$breakpoint-not-small} {
    font-size: 4rem;
  }
}

.type-h3,
%type-h3 {
  font-family: $headline-font;
  font-size: 3.2rem;
  font-weight: 400;
}

.type-h4,
%type-h4 {
  font-family: $headline-font;
  font-size: 2.266667rem;
  letter-spacing: 0.016667rem;
  font-weight: 400;
}

.type-h5,
%type-h5 {
  font-family: $headline-font;
  font-size: 1.6rem;
  font-weight: 400;
}

.type-h6,
%type-h6 {
  font-family: $headline-font;
  font-size: 1.333333rem;
  letter-spacing: 0.01rem;
  font-weight: 700;
}

.type-s1,
%type-s1 {
  font-family: $subtitle-font;
  font-size: 1.066667rem;
  letter-spacing: 0.01rem;
  line-height: 1.6rem;
  font-weight: 400;
}

.type-s2,
%type-s2 {
  font-family: $subtitle-font;
  font-size: 0.933333rem;
  letter-spacing: 0.006667rem;
  line-height: 1.333333rem;
  font-weight: 600;
}

.type-b1,
%type-b1 {
  font-family: $body-font;
  font-size: 0.8rem;
  letter-spacing: 0.022rem;
  font-weight: 400;
}

.type-b2,
%type-b2 {
  font-family: $body-font;
  font-size: 0.8rem;
  letter-spacing: 0.014rem;
  font-weight: 300;
}

.type-button,
%type-button {
  font-family: $subtitle-font;
  font-size: 0.933333rem;
  letter-spacing: 0.09rem;
  font-weight: 700;
}

.type-caption,
%type-caption {
  font-family: $subtitle-font;
  font-size: 0.8rem;
  letter-spacing: 0.026667rem;
  line-height: 1.066667rem;
  font-weight: 400;
  font-style: italic;
}

.type-overline,
%type-overline {
  font-family: $subtitle-font;
  font-size: 0.666667rem;
  letter-spacing: 0.1rem;
  line-height: 1.066667rem;
  font-weight: 600;
  color: #A8A8A8;
}

h1 {
  @extend %type-h1;
}

h2 {
  @extend %type-h2;
}

h3 {
  @extend %type-h3;
}

h4 {
  @extend %type-h4;
}

h5 {
  @extend %type-h5;
}

h6 {
  @extend %type-h6;
}

button, .mdc-button {
  @extend %type-button;
}
